<div class="container">
  <% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <p class="titlep">Información Básica</p>
  <% if (!university.isNewRecord) { %>
  <div class="container">
      <form action="<%- addUniversityImagePath %>" enctype="multipart/form-data" method="post">
          <div class="universityImageDiv">
            Cambiar Imagen:
            <label for="universityImage">
              <img src="<%= university.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1589142071/universities-images/university_placeholder_sxcvn0.png'%>" alt="Placeholder image">
            </label>
            <input type="file" onchange="this.form.submit()" id="universityImage" name="universityImage" accept="image/*" data-type='image'/>
          </div>
      </form>
    </div>
  <% } %>

  <form action="<%= submitUniversityPath %>" method="post">
    <% if (!university.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div  class="field">
      <label for="name">Nombre: </label>
      <div class="field">
        <div class="control">
          <input class="input is-primary" type="text" name="name" value="<%= university.name %>" required>
        </div>
      </div>
    </div>

    <div  class="field">
      <label for="address">Dirección: </label>
      <div class="field">
        <div class="control">
          <input class="input is-primary" type="text" name="address" value="<%= university.address %>" required>
        </div>
      </div>
    </div>


    <div  class="field">
      <label for="description">Descripcion: </label>
      <div class="field">
        <div class="control">
          <input class="input is-primary" type="text" name="description" value="<%= university.description %>" required>
        </div>
      </div>
    </div>


    <div  class="field">
      <% if (university.isNewRecord) { %>
        <input type="submit" class="button is-primary" name="create" value="Crear" />
      <% } else { %>
        <input type="submit" class="button is-primary" name="update" value="Editar" />
      <% } %>
    </div>
  </form>
  <% if (!university.isNewRecord) { %>
  <form action="<%= editGalleryPath %>">
    <p class="titlep"> Editar Galería de la Universidad</p>
    <div class="field">
      <input type="submit" class="button is-primary" value="Editar la Galería">   
    </div>
  </form>
  <% } %>
</div>
