<!DOCTYPE html>
<html>
<h1>Universidades</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">

<div class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>


<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Descripción</th>
            <th>Ir</th>
        </tr>
    </thead>
    <tbody>
        <% universitiesList.forEach((university) => { %>
        <tr>
            <td><%- university.name %></td>
            <td><%- university.address %></td>
            <td><%- university.description %></td>
            <td><a href="<%- universityShowPath(university) %>">Ir a universidad</a></td>
            <td><a href="<%- universityEditPath(university) %>">Editar universidad</a></td>
            <td>
              <form action="<%= universityDeletePath(university) %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete" />
              </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<a href="<%- newUniversityPath %>">Crear universidad</a>
<a href="<%- careerListPath %>">Ir a carreras</a>