<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">


<body>
  <div class="container">
    <br>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Universidades
          </h1>
          
        </div>
      </div>
    </section>
    <br>

    <div class="columns is-desktop ">
      <% universitiesList.forEach((university) => { %>
        <div class="column is-3">

          <div class="card">

            <div class="card-image">
              <figure class="image is-4by3">
                  <img src="<%= university.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1589142071/universities-images/university_placeholder_sxcvn0.png'%>" alt="Placeholder image">
              </figure>
            </div>

            <div class="card-content">
              <div class="media">

                <div class="media-left">
                  <figure class="image is-48x48">
                      <img src="<%= university.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1589142071/universities-images/university_placeholder_sxcvn0.png'%>" alt="Placeholder image">
                  </figure>
                </div>

                <div class="media-content">
                  <p class="title is-5"><a href="<%= universityShowPath(university) %>"><%- university.name %></a></p>
                  <p class="title is-6"><%- university.address %></p>
                </div>
                
              </div>


            </div>
            <% if (currentUser) { %>
              <div class="card-footer">
              
                <a href="<%- universityEditPath(university) %>" class="card-footer-item">Editar universidad</a>
                <form class="card-footer-item" action="<%= universityDeletePath(university) %>" method="POST">
                  <input type="hidden" name="_method" value="delete" />
                  <input class="button is-light" type="submit" value="Borrar" />
                </form>
  
                
              </div>
              <% } %>
              
                 
              
            
          </div>

        </div>
        <% }); %>

    </div>

</div>

</br>
</br>
</br>
<a href="<%- newUniversityPath %>">Crear universidad</a>
</br>


</body>


