<h1><%- university.name %></h1>

<p><%- university.description %></p>

<p>Tiene <%- careersList.length %> carrera(s)</p>

<% if (careersList.length == 0) { %> 

<% } else { %>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Área</th>
                <th>Vacantes</th>
            </tr>
        </thead>
        <tbody>
            <% careersList.forEach((career) => { %>
            <tr>
                <td><%- career.name %></td>
                <td><%- career.area %></td>
                <td><%- career.vacancies %></td>
                <td><a href="<%= editCareerPath(career) %>">Editar</a></td>
                <td>
                  <form action="<%= deleteCareerPath(career) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="Delete" />
                  </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>

<a href="<%= universityEditPath(university) %>">Editar</a>
<a href="<%= newCareerPath(university) %>">Añadir carrera</a>