<img src="<%= university.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1589142071/universities-images/university_placeholder_sxcvn0.png'%>" alt="Placeholder image">
<h1><%- university.name %></h1>
<p><%- university.description %></p>

<p>Tiene <%- careersList.length %> carrera(s)</p>

<% if (careersList.length == 0) { %>
  <p>Esta universidad aun no posee carreras registradas.</p>
<% } else { %>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ãrea</th>
                <th>Vacantes</th>
            </tr>
        </thead>
        <tbody>
            <% careersList.forEach((career) => { %>
            <tr>
                <td><%- career.name %></td>
                <td><%- career.area %></td>
                <td><%- career.vacancies %></td>

                <% if (userIsStaff) { %>
                  <td><a href="<%= editCareerPath(career) %>">Editar</a></td>
                  <td>
                    <form action="<%= deleteCareerPath(career) %>" method="POST">
                      <input class="button is-light" type="hidden" name="_method" value="delete" />
                      <input class="button is-light" type="submit" value="Delete" />
                    </form>
                  </td>
                <% } %>

            </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>

<% if (userIsStaff) { %>
  <%- include('staff/_staff_options') %>
<% } else { %>
  <%- include('staff/_no_staff_options') %>
<% } %>
