<div class="container">
    <div id="test-container" 
    
        data-poll-id="<%- poll.id %>"
        data-poll-name="<%- poll.name %>"
        data-poll-description="<%- poll.description %>"
        data-send-url="<%- pollUrl %>"
        data-questions-url="<%- questionsUrl %>"
        data-current-user="<%= JSON.stringify(currentUser) %>"
        data-my-results="<%- myResults %>"
    >
    Cargando encuesta
    </div>
</div>
