<h1>Carreras</h1>


<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ãrea</th>
            <th>Vacantes</th>
            <th>Universidad</th>
            <th>Ir</th>
        </tr>
    </thead>
    <tbody>
        <% careersList.forEach((career) => { %>
        <tr>
            <td><%- career.name %></td>
            <td><%- career.area %></td>
            <td><%- career.vacancies %></td>
            <td><%- career.universityId %></td>
            <td><a href="<%- careerShowPath(career) %>">Ir a carrera</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>