<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">


<body>

  <div class="container">
    <br>
    <section class="hero is-warning">
        <div class="hero-body">
          <div class="container">
            <h1 class="title"> Carreras </h1>
          </div>
        </div>
      </section>
      <br>  
  </div>  

  <div class="container">
    <div class="columns is-desktop is-multiline">
        <% careersList.forEach((career) => { %>
            <div class="column is-3">
                <div class="card">
      
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
      
                  <div class="card-content">
                    <div class="media">      
                      <div class="media-content">
                        <p class="title is-5"><%- career.name %></p>
                        <p class="title is-6"><%- career.area %></p>
                        
                      </div>
                  </div>
      
                  <div class="content">
                      Vacantes: <%- career.vacancies %>
                      <br>
                  </div>
                  
                  <div class="content">
                        Universidad: <%- career.universityId %>
                        <br>
                  </div>
                  <a href="<%- careerShowPath(career) %>">Ir a carrera</a>
        
      
                </div>
              </div>
      
            </div>
        <% }); %>
    </div>  
  </div>
</body>
