<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">


<body>

	<div class="container">
		<br>
		<section class="hero is-warning">
			<div class="hero-body">
				<div class="container">
					<h1 class="title"> <%- career.name %> </h1>
				</div>
			</div>
		</section>
		<br>
	</div>

	<div class="container">
		<p>Tiene <%- career.vacancies %> vacantes</p>
		<p>El puntaje de corte de esta carrera es <%- career.minScore %></p>
		<p>Tiene una duración de <%- career.duration %> semestres</p>
		<p>Esta carrera está en <%- university.name %></p>
	</div>

	<br>

	<div class="container">
		<p><strong>Experiencias de alumnos: </strong></p>
		<% if (!experiencesList.length) { %>
		<p> Ninguna por ahora </p>
		<% } else { %>
		<% experiencesList.forEach((exp) => { %>

		<div class="box">
		  <article class="media">
		    <div class="media-left">
		      <figure class="image is-64x64">
		        <img src="<%= exp.user.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1588796979/users-images/user-no-image_qdtjjb.jpg'%>" alt="Placeholder image">
		      </figure>
		    </div>
		    <div class="media-content">
		      <div class="content">
		        <p>
		          <strong><%= exp.user.name %></strong>
		          <br>
		          <%= exp.description %>
		        </p>
		      </div>
		      <nav class="level is-mobile">
		        <div class="level-left">
		          <a class="level-item" aria-label="like">
		            <span class="icon is-small">
		              <i id="icono" class="fas fa-heart" aria-hidden="true" onclick="myFunction()"></i>
		              <script>
						function myFunction() {
						  document.getElementById("icono").style.color = "red";;
						} 

					  </script> <!-- No supe como dislikear  -->
		      
		            </span>
		          </a>
		        </div>
		      </nav>
		    </div>
		  </article>
		</div>
		<br>

		<% }) %>

		<% } %>
	</div>
	<% if (currentUser && currentUser.universityId == career.universityId && currentUser.userType == 1) { %>
	<div class="container">
		<form id="experience-form" method="post">
			<div class="field">
				<input class="input is-warning" id="experience-comment" type="text" placeholder="Escribe tu experiencia aquí.." name="description" required >
				<input id="experience-careerId" type="hidden" value="<%- career.id %> ">
				<input id="experience-userId" type="hidden" value="<%- currentUser.id %> ">
				<br>
				<br>
				<div class="field">
					<input class="button is-primary" type="submit" name="create" value="Publicar experiencia" />
				</div>
			</div>
		</form>
	</div>
	<% } %>


</body>