<h1><%- career.name %></h1>

<p>Tiene <%- career.vacancies %> vacantes</p>

<p>Esta carrera está en <%- university.name %></p>
<div>
<h3> Experiencias de alumnos: </h3>

<table>
	<thead>
		<tr>
			<th>Comentario</th>
			<th>Id Estudiante</th>
		</tr>
	</thead>
	<tbody>
	  <% if (!experiencesList.length) { %>
	    <p> Ninguna por ahora </p>
	   <% } else { %>
	   	<% experiencesList.forEach((exp) => { %>
	</tbody>
		<tr>
			<td><%= exp.description %></td>
			<td><%= exp.userId %></td>
		</tr>
		<% }) %>
	</table>
	<% } %>	
</div>

<div>
  <form id="experience-form" method="post">
    <div  class="field">
      <input id="experience-comment" type="text" name="description" required>
      <input id="experience-careerId" type="hidden" value="<%- career.id %> ">
      <input id="experience-userId" type="hidden" value="<%- currentUser.id %> ">
      <div  class="field">
        <input class="button is-primary" type="submit" name="create" value="Publicar experiencia" />
      </div>
    </div>
  </form>
</div>