<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Questudio</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
      <div id="logo">
        <a href="<%- universitiesPath %>">
          <img width="200px" src="<%= assetPath('questudio.jpeg') %>" alt="Logo" />
        </a>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
