<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Questudio</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="topnav">
        <a href="<%- universitiesPath %>" style="padding: 0;">
          <img height="45px" src="<%= assetPath('questudio.jpeg') %>" alt="Logo" />
        </a>
        <div class="short-container">
          <a href="<%- universitiesPath %>">Universidades</a>
          <a href="<%- careersPath %>">Carreras</a>
        </div>
        <div class="search-container">
          <form action="/action_page.php">
            <input class="search-box" type="text" placeholder="Buscar.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <% if (currentUser) { %>
          <div class="session-container">
            <a>Perfil</a>
            <a><i class="fas fa-sign-out-alt"></i></a>
          </div>
        <% } else { %>
          <div class="session-container">
            <a>Iniciar sesión</a>
            <a>Registrarse</a>
          </div>
        <% } %>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
