<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Questudio</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <link
    rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <style>
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
    .lds-ring {
      /* display: inline-block; */
      position: fixed;
      top: 45%;
      left: 45%;
      z-index: 999;
    }
    @media screen and (max-width: 600px) {
      .lds-ring {
        left: 37%;
      }
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      margin: 6px;
      border: 6px solid yellow;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: yellow transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .bigcontainer {
      display: none;
    }

  </style>

  <body>

    <div class="lds-ring" id="anillo">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  
  <nav class="navbar has-background-white-bis is-fixed-top" role="navigation" aria-label="main navigation" style="height: 0px;">
    <span></span>
    <div class="navbar-brand">
      <a class="navbar-item" href="<%- welcomePath %>" style="padding: 0;">
        <img class="navbar-logo" width="120" height="200" src="<%= assetPath('questudio.png') %>" alt="Logo" />
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="<%- universitiesPath %>">Universidades</a>
        <a class="navbar-item" href="<%- testsVocacionalesPath %>">Tests Vocacionales</a>

          <div class="navbar-item field">
            <p class="control has-icons-right">


              <form id="search-form" style="margin-top: 20px;">

              <input id="search-box" class="input" type="search" placeholder="Busca una universidad...">


              <span class="icon is-small is-right">
                <icon />
              </span>
              </form>
            </p>
          </div>
        </div>
      </div>

      <% if (currentUser) { %>
        <div class="navbar-end">
          <div class="navbar-item">
            <a href="<%- profilePath %>"><img src="https://img.icons8.com/ios/50/000000/user-male-circle.png"/></a>
            <a href="<%- editUserPath  %>"><img src="https://img.icons8.com/ios/50/000000/settings.png"/></a>
            <form id="signout-form" action="<%= destroySessionPath %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <a onclick="document.getElementById('signout-form').submit()">
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </form>
          </div>

      <% } else { %>
         <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="<%- newSessionPath %>"><strong>Iniciar Sesión</strong></a>
            <a class="button is-light" href="<%- createUserPath %>">Registrarse</a>
          </div>
        </div>
      <% } %>

      <div class="navbar-end">
      </div>
    </div>
  </nav>
  <div id="search-results"></div>
  <div class="bigcontainer">
    <%- body %>
  </div>
</body>

  <script defer src="<%= assetPath('app.js') %>"></script>
  <script>
    window.onload = function () {
      console.log('Loaded');
      document.getElementById("anillo").style.display = "none";
      document.getElementsByClassName("bigcontainer")[0].style.display="block";
    }
  </script>

</html>

