
    <div class="container">
        <br>
        <section class="hero is-danger">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title"> Team Questudiosos </h1>
                </div>
            </div>
        </section>
        <br>
    </div>

    <div class="container">
        <div class="columns is-desktop is-multiline">

            <div class="column is-4">
                <div class="card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img class="image moveImagen" src="<%= assetPath('Chio.jpeg') %>">
                            </figure>
                        </div>

                        <div class="card-content">
                            <p class="title is-4">Rocío Hernández</p>
                            <p class="subtitle is-6">@rbhernandez</p>
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Rocío Hernández</p>
                        <p style="cursor: pointer;" onclick="location.href = 'https://github.com/rbhernandez'" class="subtitle is-6"><i class="fab fa-github"></i> @rbhernandez</p>
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img class="image moveImagen" src="<%= assetPath('Fer.jpeg') %>">
                            </figure>
                        </div>

                        <div class="card-content">
                            <p class="title is-4">Fernanda Durán</p>
                            <p class="subtitle is-6">@frduran</p>
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Fernanda Durán</p>
                        <p style="cursor: pointer;" onclick="location.href = 'https://github.com/frduran'" class="subtitle is-6"><i class="fab fa-github"></i> @frduran</p>
                    </div>
                </div>

                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img class="image moveImagen" src="<%= assetPath('Greg.jpeg') %>">
                            </figure>
                        </div>

                        <div class="card-content">
                            <p class="title is-4">Gregory Schuit </p>
                            <p class="subtitle is-6">@gregschuit</p>
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Gregory Schuit </p>
                        <p style="cursor: pointer;" onclick="location.href = 'https://github.com/gregschuit'" class="subtitle is-6"><i class="fab fa-github"></i> @gregschuit</p>
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img class="image moveImagen" src="<%= assetPath('Luchin.jpeg') %>">
                            </figure>
                        </div>

                        <div class="card-content">
                            <p class="title is-4">Luciano Davico </p>
                            <p class="subtitle is-6">@lldavico</p>
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Luciano Davico </p>
                        <p style="cursor: pointer;" onclick="location.href = 'https://github.com/lldavico'" class="subtitle is-6"><i class="fab fa-github"></i> @lldavico</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img class="image moveImagen" src="<%= assetPath('Nacho.jpeg') %>">
                            </figure>
                        </div>

                        <div class="card-content">
                            <p class="title is-4">Ignacio Contreras</p>
                            <p class="subtitle is-6">@nachocontreras</p>
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Ignacio Contreras</p>
                        <p style="cursor: pointer;" onclick="location.href = 'https://github.com/nachocontreras'" class="subtitle is-6"><i class="fab fa-github"></i> @nachocontreras</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img class="image " src="<%= assetPath('Nico.jpeg') %>">
                            </figure>
                        </div>

                        <div class="card-content">
                            <p class="title is-4">Nicolás Maturana</p>
                            <p class="subtitle is-6">@nmaturana97</p>
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Nicolás Maturana</p>
                        <p style="cursor: pointer;" onclick="location.href = 'https://github.com/nmaturana97'" class="subtitle is-6"><i class="fab fa-github"></i> @nmaturana97</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
