<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">


<body>

  <div class="container">
    <br>
    <section class="hero is-danger">
        <div class="hero-body">
          <div class="container">
            <h1 class="title"> Team Questudiosos </h1>
          </div>
        </div>
      </section>
      <br>  
  </div>  

  <div class="container">
    <div class="columns is-desktop is-multiline">

        <div class="column is-4">
            <div class="card">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                        <img class="image " src="<%= assetPath('Chio.jpeg') %>">
                        </figure>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Rocío Hernández</p>
                        <p class="subtitle is-6">@rbhernandez</p>
                    </div>
                </div>

                <div class="card-content">
                    Estudiante de Ingeniería Civil Industrial Major en Ingeniería, Diseño e Innovación de la Pontificia Universidad Católica de Chile.
                    <br><br>
                    Le gusta vitrinear online, amante de los perros y espera algún día tener su propia línea de muebles.
                  </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                        <img class="image " src="<%= assetPath('Fer.jpeg') %>">
                        </figure>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Fernanda Durán</p>
                        <p class="subtitle is-6">@frduran</p>
                    </div>
                </div>

                <div class="card-content">
                    Estudiante de Ingeniería Civil Industrial con mención Computación de la Pontificia Universidad Católica, 22 años.
                    Ayudante hace 4 semestres, actual coordinadora del ramo Sistemas de Información.
                    <br><br> Le gusta mucho hacer deportes, leer y hacer trabajos manuales. Participa en Trabajos de Invierno.
                    
                </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img class="image " src="<%= assetPath('Greg.jpeg') %>">
                        </figure>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Gregory Schuit </p>
                        <p class="subtitle is-6">@gregschuit</p>
                    </div>
                </div>

                <div class="card-content">
                    Ingeniero Civil Industrial mención Computación de la Pontificia Universidad Católica.
                    <br><br>
                    Aficionado a la física, tecnología, e inteligencia artificial. Practica el basquetbol como pasatiempo y le gusta jardinear.
                </div>
            </div>
        </div>

        <div class="column is-4">
            <div class="card">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img class="image " src="<%= assetPath('Luchin.jpeg') %>">
                        </figure>
                    </div>          

                    <div class="card-content">
                        <p class="title is-4">Luciano Davico </p>
                        <p class="subtitle is-6">@lldavico</p>
                    </div>
                </div>

                <div class="card-content">
                    Ingeniero Civil Industrial mención Computación de la Pontificia Universidad Católica.
                    <br><br>
                    Le encanta la música y la no cuarentena. Hincha de la U.
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img class="image " src="<%= assetPath('Nacho.jpeg') %>">
                        </figure>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Ignacio Contreras</p>
                        <p class="subtitle is-6">@nachocontreras</p>
                    </div>
                </div>

                <div class="card-content">
                    Ingeniero Civil Industrial mención Computación de la Pontificia Universidad Católica.
                    <br><br>
                    Ayudante de Programación Avanzada y Arquitectura de Sistemas de Software en la PUC. Le encantan los deportes, en especial taekwondo, que practica desde los 6 años.
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img class="image " src="<%= assetPath('Nico.jpeg') %>">
                        </figure>
                    </div>

                    <div class="card-content">
                        <p class="title is-4">Nicolás Maturana</p>
                        <p class="subtitle is-6">@nmaturana97</p>
                    </div>
                </div>

                <div class="card-content">
                    Estudiante de Ingeniería Civil Industrial mención Computación de la Pontificia Universidad Católica.
                    <br><br>
                    Le gusta la tecnología y le encanta ver fútbol, siendo hincha del Club Deportivo Universidad Católica.
                </div>
            </div>
        </div>
    </div>
  </div>

</body>