<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">

<script>
function Validate() {
    var password = document.getElementById("1stPassword").value;
    var confirmPassword = document.getElementById("ConfirmPassword").value;
    if (password != confirmPassword) {
        precent
        return false;
    }
    return true;
};
</script>
<body>
	<div class="profile-card">
		<div>
			<p class="profile-edit-title" >Información del perfil</p>
		</div>
		
		<form id="edit-user-form" action="<%= submitEditUserPath %>" method="POST">
			<input type="hidden" name="_method" value="post" />
			<div class="edit-user-fields">
				<div class="title">
					<input type="email" id="editEmail" name="email" value="<%= user.email %>" placeholder="Email" required/>
				</div>
				<div class="title">
					<input type="text" id="editName" name="name" value="<%= user.name %>" placeholder="Nombre" required/>
				</div>
				<div class="title">
					<input type="text" id="editLastname" name="lastname" value="<%= user.lastname %>" placeholder="Apellido" required/>
				</div>
				<p id="confirm-pass">Las contraseñas no coinciden</p>
				<div class="title">
					<input type="password" id="firstPassword" name="password" value="" placeholder="Nueva Contraseña"/>
				</div>
				<div class="title">
					<input type="password" id="confirmPassword" name="confirm-password" value="" placeholder="Confirmar Contraseña" />
				</div>
				<div class="edit-button">
					<input type="submit" name="submit" value="Actualizar" />
				</div>
			</div>
		</form>
	</div>
	<div class="deleteForm">
		<form action="<%- deleteUserPath %>" method="POST">
			<input type="hidden" name="_method" value="delete" />
			<input class="delete-button" type="submit" value="Eliminar Cuenta" onclick="return confirm('¿Estás seguro/a que quieres eliminar tu cuenta?');" />
		</form>
	</div>
</body>