<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">

<body>
	<div class="profile-card">
		<figure class="profile-image-div">
			<% if (editableBoolean){ %>
				<form action="<%- addUserImagePath %>" enctype="multipart/form-data" method="post">
						<div class="profile-image">
							<label for="userImage">
								<img src="<%= user.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1588796979/users-images/user-no-image_qdtjjb.jpg'%>" alt="Placeholder image">
							</label>
							<input type="file" onchange="this.form.submit()" id="userImage" name="userImage" accept="image/*" data-type='image'/>
						</div>
				</form>
			<%} else {%>
				<div class="profile-image">
					<label for="userImage">
						<img src="<%= user.imageUrl || 'https://res.cloudinary.com/dbs6fwbbs/image/upload/v1588796979/users-images/user-no-image_qdtjjb.jpg'%>" alt="Placeholder image">
					</label>
				</div>
			<% } %>
		</figure>
				
		<h1><%- user.name %> <%- user.lastname %></h1>
		<div id="user-type">
			<p class="title"><%- user.getType() %></p>
		</div>
		<% if (user.userType == '1') { %>
		<p class="university"><%- user.university.name %></p>
		<% } %>
	</div>
</body>


 <!-- Add icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

